# Grundgerüst Leistungsausweis
Dieses Notebook soll euch als Grundgerüst für euren Leistungsnachweis dienen. Es soll euch eine Idee/ Hilfestellung bieten, wie man einen neuen Datensatz, basierend auf einer Fragestellung, strukturiert analysieren und interpretieren kann. Wie besagt, dient das Notebook als Hilfestellung, ist jedoch keinenfalls vollständig ausgeschöpft. In diesem Sinne dürft ihr auch gerne Sachen miteinbeziehen, welche hier nicht genannt werden. 

-> Bitte schreibt die Antwort zu den jeweiligen Punkten an oberster Stelle unterhalb der Titel (so wie dies auch im Leistungsnachweisbeispiel gemacht wurde).


## Struktur
1. Fragestellung(en) und Datenbeschaffung
2. Daten laden
3. Daten vorbereiten
4. Statistik der Rohdaten (Generell im Longformat)
5. Analyse der Daten

**Wichtig:** Alle graphischen Darstellungen sollten mindestens *Titel, Ticks- und Achsenbeschriftung* beinhalten (Siehe plots im Leistungsnachweisbeispiel)

---

## Globale Entwicklungen der Suizidraten: Ein datenbasierter Vergleich von 2000 bis 2021
### Fragestellung:
- Wie haben sich die altersstandardisierten Suizidraten weltweit sowie in ausgewählten Ländern zwischen 2000 und 2021 entwickelt, und welche sozialen, wirtschaftlichen oder kulturellen Faktoren könnten diese Unterschiede erklären? 
### Datenquelle:
- https://ourworldindata.org/suicide

### 1.4 Daten beschaffen und laden

In [5]:
!pip install pandas seaborn matplotlib

Der Befehl "pip" ist entweder falsch geschrieben oder
konnte nicht gefunden werden.

In [3]:
# lade deine Bibliotheken -> Pandas, Seaborn, Matplotlib sind die wichtigsten für diese Aufgaben

import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [4]:
# lade hier deine Daten
data = pd.read_csv("death-rate-from-suicides-gho.csv")
data

,Entity,Code,Year,Age-standardized death rate from self-harm among both sexes
0,Afghanistan,AFG,2000,7.197108
1,Afghanistan,AFG,2001,7.281792
2,Afghanistan,AFG,2002,7.123594
3,Afghanistan,AFG,2003,7.053904
4,Afghanistan,AFG,2004,7.034545
...,...,...,...,...
4417,Zimbabwe,ZWE,2017,23.662240
4418,Zimbabwe,ZWE,2018,24.729877
4419,Zimbabwe,ZWE,2019,23.761830
4420,Zimbabwe,ZWE,2020,23.614447
4421,Zimbabwe,ZWE,2021,25.492823

## 2. Daten vorbereiten 
- Welches Format hat mein Datensatz bzw. wie sind meine Kolumnen strukturiert?
- Welches Format kann ich für welche Teilschritte verwenden (wann soll ich pivot bzw. wide format verwenden)?
- Welche Datentypen kommen in meinem Datensatz vor?

In [ ]:
# Spalte umbenennen, damit sie einfacher zu verwenden ist
data.rename(columns={'Age-standardized death rate from self-harm among both sexes': 'SuicideRate'}, inplace=True)

# Datenstruktur, Datentypen und fehlende Werte prüfen
data.info()

# Die ersten 5 Zeilen der umbenannten Daten anzeigen
print("\nErste 5 Zeilen:")
print(data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4422 entries, 0 to 4421
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Entity       4422 non-null   object
 1   Code         4290 non-null   object
 2   Year         4422 non-null   int64
 3   SuicideRate  4422 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 138.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4422 entries, 0 to 4421
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Entity       4422 non-null   object
 1   Code         4290 non-null   object
 2   Year         4422 non-null   int64
 3   SuicideRate  4422 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 138.3+ KB

Erste 5 Zeilen:
        Entity Code  Year  SuicideRate
0  Afghanistan  AFG  2000     7.197108
1  Afghanistan  AFG  2001     7.281792
2  Afghanistan  AFG  2002     7.123594
3  Afghanistan  AFG  2003     7.053904
4  Afghanistan  AFG  2004     7.034545

## 3. Statistik der Rohdaten (Analyse im Long-Format)
- Ist meine Variable kontinuierlich oder diskret? Falls diskret, wieviele einzigartige Klassen gibt es? Wieviele Datenpunkte pro Klasse sind vorhanden?
- Anzahl Datenpunkte (Beschreibend und Graphische Darstellung)
    - Wieviele Datenpunkte sind für die bestimmten Variabeln vorhanden?
    - Wo fehlen Datenpunkte?
- Wie ist die Verteilung der zu untersuchenden Variabel(n) (Histogram, Boxplot, Säulendiagram)
- Vermutest du Zusammenhänge zwischen zwei Variabeln (Streuungsdiagramm, Korrelationsmatrix)

*Notiz: Zu jeder Kolumne sollte generell eine Aussage möglich sein.*

## 4. Analyse 

### Vorgehen
- Spezifische Untersuchung der Fragestellung (Berechnungen)
- Visualisieren der Resultate: Verwendet Achsenbeschriftung und überlegt euch, welche Art von Darstellung sinnvoll ist (Kuchen-, Säulen, Liniendiagramm; 2 y-Achsen?)
- Beschreiben der Beobachtungen
- Interpretation der Resultate (Hypothesen zu den Resultaten)
- Untermauern der Interpretation mittels Hinweise zur Literatur (Mögliche Zusammenhänge aufzeigen).